[Unit]
Description=Password Manager Docker Compose Application
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/home/xizde/Documentos/GitHub/go-password-manager
User=xizde
Group=xizde

# Load environment variables from .env file
EnvironmentFile=/home/xizde/Documentos/GitHub/go-password-manager/.env

# Commands
ExecStartPre=-/usr/bin/docker compose pull -q --ignore-pull-failures
ExecStart=/usr/bin/docker compose up -d --remove-orphans
ExecStop=/usr/bin/docker compose down
ExecReload=/usr/bin/docker compose restart

# Timeout
TimeoutStartSec=0

# Restart on failure
Restart=on-failure
RestartSec=10s

# Environment
Environment="COMPOSE_PROJECT_NAME=password-manager"

[Install]
WantedBy=multi-user.target
